S3method(rxKS,rxLorenz)
export(formulaExpand)
export(range2formula)
export(rxBoxPlot)
export(rxDiscretize)
export(rxF1score)
export(rxHexBin)
export(rxKS)
export(rxSample2Df)
export(rxTTest)
export(rxTreeDiscretize)
import(RevoScaleR)
importFrom(hexbin,hexbin)
