export(formulaExpand)
export(range2formula)
export(rxBoxPlot)
export(rxDiscretize)
export(rxHexBin)
export(rxKS)
export(rxKS.rxLorenz)
export(rxSample2Df)
export(rxTreeDiscretize)
export(rxTTest)
import(RevoScaleR)
importFrom(hexbin,hexbin)
